<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About Us - The Daily Quill</title>
    <style>
      .box  {
       width: 300px; 
       height: 150px;
       padding: 20px;
       border: 10px solid rgb(45, 58, 31);
       margin: 30px;
       background-color: rgb(255, 255, 255);
       box-sizing: content-box ; 
      }
    </style>
  </head>
  <body>
    <div class="box">
   This is my box
    </div>
    <h2>About Us</h2>
    <p>
      Every article begins with curiosity and grows into knowledge worth
      sharing. Explore insightful stories, practical guides, and fresh
      perspectives designed to inspire, inform, and help you discover something
      new with every read.
    </p>
    <li>
      <a href="index.html">
    </li>
    <img
      src="/images/react.jpg"
      alt="The Daily Quill logo on a clean white background with a modern editorial tone"
      srcset="The Daily Quill logo"
    />
    </a>
    </li>
  </body>
</html>
